#col h2 {
    text-align: center;
}

#col p {
    padding-top: 68px;
    color: black;
}

#col-1 h2 {
    align-items: center;
    padding-left: 789px;
}

#col-1 h2 {
    padding-top: 100px;
    color: black;
    font-family: 'Bree Serif', serif;
    padding-left: 16px;
}