{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style1.css' %}">
    <link rel="stylesheet" media="screen and (max-width:1226px)" href="{%static 'css/tst.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="import" href="index.html">

    <title>About</title>
</head>

<body>
    <div id="col">
        <h2>About us!</h2>

        <P><b> "Our team is commited towards providing free online e-books.<br> as we believe education is the key to knowledge and wisdom.<br> our team at Aura.INC working 24x7 for providing value adding books."<br></b></P>

    </div>
    <div id="col-1">
        <h2>Our company!</h2>!</h2>
        <p><b> Our team is commited towards providing free online e-books.<br> as we believe education is the key to knowledge and wisdom.<br> our team at Aura.INC working 24x7 for providing value adding books."<br></b></p>
    </div>


</body>

</html>