{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<style>
    #col {
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        background-image:url("{%static 'images/js.jpg' %}");
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        background-blend-mode: darken;
    }
</style>

<body>
    <div id="col">
        {% for post in file %}
        <h2>{{post.name}}</h2>
        <a href="{{post.pdf.url}}" download="{{post.pdf.url}}">Download</a> {% endfor %}

    </div>



</body>

</html>